@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SCA Cloud School Application</h1>
    @* <p>Welcome to SCA Cloud School Application</p> *@
</div>